{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Alfresco Addons Catalog",
  "alternateName": ["Alfresco Extensions", "Alfresco Plugins", "Alfresco Marketplace"],
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "Alfresco Community",
    "url": "https://github.com/AlfrescoLabs"
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ .Site.BaseURL }}?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Alfresco Add-ons",
  "description": "Community-driven catalog of extensions and plugins for Alfresco Content Services",
  "numberOfItems": 70,
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Alfresco Extensions",
      "url": "{{ .Site.BaseURL }}"
    }
  ]
}
</script>
{{ else if eq .Type "entries" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Permalink }}",
  "applicationCategory": "BusinessApplication",
  "operatingSystem": "Alfresco Content Services",
  {{ if .Params.download }}"downloadUrl": "{{ .Params.download }}",{{ end }}
  {{ if .Params.license }}"license": "{{ .Params.license }}",{{ end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.contributor }}"
  }
}
</script>
{{ end }}